.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 50px;
    text-align: center;
  }
  /* form {
      width: 450px;
    } */
  
  h1, h2, h3{
      color:antiquewhite;
    }
  
  .logo{
    margin: 20px;
    width: 600px;
  }
  
  .ingreso{
    margin: 40px;
  }
  .oval {
    width: 1300px;
    height: 600px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #005500;
}
.nolink {
  color: antiquewhite;
  margin-left: 20px;
}