<div class="container">
    <div class="centrado">
        <div class="row oval">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <img src="../../../assets/media/bj_logo.png" alt="" class="logo">
                <br>
                <form [formGroup]>
                    <div>
                        <label for="inputUsuario" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="inputUsuario" formControlName="usuario">
                    </div>
                    <br>
                    <div>
                        <label for="inputClave" class="form-label">Clave</label>
    <input type="password" class="form-control" id="inputClave" formControlName="clave">
                    </div>
                    <p *ngIf="mensajeError" style="color: tomato;">
                        {{ mensajeError }}
                      </p>
                    <br>
                    <button type="submit" class="btn btn-primary" (click)="ingresar()">Ingresar</button>
                    <button class="btn btn-primary nolink"><a routerLink="registro">Registrarse</a></button>
                    <br>
                    <br>
                    <h2>TPI - DABD</h2>
                    <h3>Alvaro Basbus - 112823</h3>
                    <h3>David Perez - 112858</h3>
                </form>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
</div>