<div>
    <div class="container tablero centrado">
        <div class="row">
            <div class="col">
            </div>
          </div>      
        <div class="row">
          <div class="col" *ngFor="let lista of cartas">
            <img src={{lista.direc}} alt="jota" class="carta" *ngIf="lista.jugador==0">
        </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
          </div>      
        <div class="row">
            <div class="col" *ngFor="let lista of cartas">
                <img src={{lista.direc}} alt="jota" class="carta" *ngIf="lista.jugador==1">
            </div>
          </div>     
          <div class="row">
            <div class="col">
              <h3>Maquina: {{jugador[0].puntos}}</h3>
              <h3>Jugador: {{jugador[1].puntos}}</h3>
            </div>
          </div>   
          <div class="row">
            <div class="col">
              <button class="btn btn-primary" (click)="pedir()" [ngClass]="{disabled : stand}">Pedir</button>
              <button class="btn btn-primary" (click)="pasar()"[ngClass]="{disabled : stand}">Pasar</button>
            </div>
          </div>      
      </div>
    </div>
