.centrado{
    text-align: center;
}

.tablero{
    background-image: url("../../../assets/media/Blackjack_layout.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 85%;
}

.carta{
    height: 80px;
    display: inline-block;
}

.crupierCarta {
    margin-top: 25%;
}

.jugadorCarta{
    margin-top: 25%
}



h3{
    color:white;
}

button{
    margin: 5px;
}

.marcador{
    height: 350px; 
    border-radius: 
    0 0 21px 21px;
    background-color: #005500 !important;
}