<div>
    <div class="container tablero centrado">
        <div class="row">
            <div class="col">
            </div>
          </div>      
        <div class="row">
          <div class="col">
            <img src="../../../assets/media/cartas/3c.png" alt="jota" class="carta">
          </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
          </div>      
        <div class="row">
            <div class="col" *ngFor="let lista of cartas">
                <img src="../../assets/media/cartas/{{lista.numero}}{{lista.palo}}.png" alt="jota" class="carta">
            </div>
          </div>      
          <div class="row">
            <div class="col">
              <h3>Suma: {{suma}}</h3>
            </div>
          </div>   
          <div class="row">
            <div class="col">
              <button class="btn btn-primary" (click)="pedir()">Pedir</button>
            </div>
          </div>      
      </div>
    </div>
